body{
    background-color: rgb(13, 75, 75);
    display: flex;
    flex-direction: column;
}
#countButton{
    width: 30%;
    margin-left: 0 auto 50px;
    border-style: double;
}
#lettersDiv{
    border: 1px solid black;
    margin: 5px;
    max-width: 1000px;
}
#wordsDiv{
    border: 1px solid black;
    margin: 5px;
    max-width: 1000px;
}
@media (min-width: 1024px){
    #countButton{
        width: 10%;
        margin-left: 0 auto 50px;
        margin-bottom: 15px;
        border-style: double;
    }
    textarea{
        max-width: 1000px;
        height: 400px;
    }
}